/* *, *::after, *::before { 
    box-sizing: border-box;
  } */

.card_slot {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(7,1rem 4rem);
  /* grid-template-rows: 7rem 7rem ; */
  grid-template-rows: 7rem;
  gap: .5rem;
  /* cursor: pointer; */
  justify-content: center;
  padding-top: 1rem;
}


input:checked + label .card {
  background-color: green;
}

.card .sendout_card{
  background-color: #FAE690;
}

.card .recieved_card{
  background-color: #EAFFD0;
}

.card {
  position: relative;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;

}

.card.red {
  color: red;
}
  
.card.black {
  color: black;
}

.card::before,
.card::after {
  position: absolute;
  content: attr(data-value);
  font-size: 1rem;
}

.card::before {
  top: .5rem;
  left: .5rem
}
  
.card::after {
  bottom: .5rem;
  right: .5rem;
  transform: rotate(180deg);
}